<div class="outer-footer-container">
    <div class="page">
      <div class=inner-footer-container>
        <div id="footer_plugin_left"><!-- Plugin Position: PLUGIN_11 --> <p><a href="http://www.habitat.ca">Home</a></p>

<p><a href="http://www.habitat.ca/en/contact">Contact Us</a></p>

<p><a href="http://www.habitat.ca/en/terms-of-use">Terms of Use</a></p>

<p><a href="http://sharenet.habitat.ca/_layouts/fba/fbaextlanding.aspx">ShareNet</a></p>

<p><a href="http://www.habitat.ca/en/privacy-policy">Privacy Policy</a></p>
 <!-- END PLUGIN_11 --></div>
<div class='footer-form-container'>
  <h2>Sign Up For Updates</h2>
  <div class="textfield-container flex-initiate justify-center">
  <form id=emailForm action="">
    <div class="embed-submit-field">
    <input id="emailAdress" class="emailInput" type="text" placeholder="Your Email" value="">
        <button>subscribe</button>
    </div>
  </form>
</div>
</div>



<div class="footer-plugin-middle"><!-- Plugin Position: PLUGIN_12 --> <p>Habitat For Humanity Canada<br>
477 Mount Pleasant Road, Suite 403&nbsp;<br>
Toronto,ON&nbsp; M4S 2L9<br>
<br>
Email:&nbsp;<a href="mailto:habitat@habitat.ca">habitat@habitat.ca</a><br>
Phone: 416-644-0988</p>
 <!-- END PLUGIN_12 --></div>
