.shop-wrapper{
  width: 80%;
  margin: auto;
  display: flex;
  overflow-x: scroll;
  background-color: white;
}
header{
  display:flex;
  justify-content: center;
  flex-direction: row;
  width: 80%;
  margin: auto;
}
header button{
  background-color: orange;
  margin: 0;
  padding: 0;
  flex: 1;
  align-self: center;
}
h1{
  padding-left: 190px;
  text-align: center;
  flex: 6;
  color: #0053AA;
  font-size: 2rem;
}

button{
  background-color: #44A63A;
  color: white;
  border: none;
  height: 30px;
  width: 80%;
  margin: auto;
}
p{
  max-height: 100px;
  overflow-y: scroll;
}
img{
  max-width: 350px;
  max-height: 250px;
}
.footer-form-container{
  text-align: center;
}
.container{
  text-align: center;
}

.button-container{
  padding-top: 10px;
  display:flex;
  justify-content: space-between;
  width: 80%;
  margin: auto;
}
